{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Modfication du Profil
{% endblock %}

{% block body %}
	<div class="profileEdit">
	<h1> Modifiez votre profil ✅</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{{ form_start(profileForm) }}
		{{ form_row(profileForm.email, {label: 'Email'}) }}
        {{ form_row(profileForm.genre) }}
		{{ form_row(profileForm.nom, {label: 'Nom'}) }}
		{{ form_row(profileForm.prenom, {label: 'Prénom'}) }}
		{{ form_row(profileForm.numeroTelephone, {label: 'Numéro de téléphone'}) }}
		{{ form_row(profileForm.adresse, {label: 'Adresse'}) }}
		{{ form_row(profileForm.codePostal, {label: 'Code postal'}) }}
		{{ form_row(profileForm.ville, {label: 'Ville'}) }}
        {{ form_row(profileForm.plainPassword, {label: 'Mot de passe'}) }}
	<button class="btn btn-modify">Modifier</button>
    <button id="btn-delete-profile" class="btn">Supprimer mon profil</button>
	<input type="hidden" id="csrf-token" value="{{ csrf_token('delete_user') }}">
	{{ form_end(profileForm) }}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		//------------------------- Suppression du profil utilisateur -------------------------	
		document.getElementById('btn-delete-profile').addEventListener('click', function(event) {
			event.preventDefault();

			if (confirm('êtes vous certain de vouloir supprimer votre profil?')) {
				const csrfToken = document.getElementById('csrf-token').value;

				fetch('/parenthese-enveloppee/public/profile/delete', {
					method: 'POST', // Change the method to POST
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded', // Change the content type to application/x-www-form-urlencoded
						'X-Requested-With': 'XMLHttpRequest',
						'X-CSRF-TOKEN': csrfToken
					},
					body: new URLSearchParams({
						'_method': 'DELETE' // Add a hidden field with the name _method and set its value to DELETE
					})
				}).then(function(response) {
					if (response.ok) {
						window.location.href = '/parenthese-enveloppee/public'; // Redirige l'utilisateur vers la page d'accueil
					} else {
						alert('Une erreur s\'est produite lors de la suppression du profil.');
					}
				});
			}
		});
	</script>
{% endblock %}