{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminpage.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Prestations{% endblock %}

{% block body %}
<div class="arrayServices">
 <h1>Prestations</h1>

 <table>
     <thead>
         <tr>
             <th>Nom</th>
             <th>Prix</th>
             <th>Durée</th>
             <th>Actions</th>
         </tr>
     </thead>
     <tbody>
         {% for service in services %}
             <tr id="service-{{ service.id }}">
                <td>{{ service.nom }}</td>
                <td>{{ service.prix }}</td>
                <td>{{ service.duree }}</td>
                <td>
                   <a href="{{ path('admin_prestations', {'id': service.id}) }}" class="edit-button">Modifier</a>
                </td>
             </tr>
         {% endfor %}
     </tbody>
 </table>

        {% for service in services %}
            <div id="edit-form-{{ service.id }}">
                {{ form_start(serviceForms[service.id]) }}
                    {{ form_widget(serviceForms[service.id]) }}
                    <button class="btn btn-primary save-button">Enregistrer</button>
                    <a href="{{ path('admin_prestations') }}" class="cancel-button">Annuler</a>
                {{ form_end(serviceForms[service.id]) }}
            </div>
        {% endfor %}

 </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var serviceId;  // Définit la variable serviceId en dehors de la fonction pour qu'elle soit accessible à toutes les fonctions (variable globale)

            
            $('.edit-button').on('click', function(event) {
                event.preventDefault();
            
                // Récupère l'id de la prestation à modifier
                var trId = $(this).closest('tr').attr('id');
                console.log('trId', trId);
            
                // Initialise la variable serviceId
                serviceId = trId.split('-')[1];
                console.log('serviceId', serviceId);
            
                // Vérifie si le formulaire de modification existe déjà dans le cache
                if (!$('#edit-form-' + serviceId).length) {
                    // Si le formulaire n'existe pas dans le cache, récupère-le depuis le serveur
                    console.log('service id avant requête ajax', serviceId);
                    $.ajax({
                        url: '/prestations/edit/' + serviceId,
                        method: 'GET',
                        success: function(data) {
                            // Insère le formulaire de modification dans le cadre de droite
                            $(document.body).append(data);
                            $('#edit-form-' + serviceId).hide(); // Cache le formulaire de modification
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            // Handle error here
                            console.log('Error: ' + textStatus + ', ' + errorThrown);
                        }
                    });
                }
            
                // Affiche le formulaire de modification
                $('#edit-form-' + serviceId).show();
            });

            $('.save-button').on('click', function(event) {
                event.preventDefault();
            
                // Récupère l'id de la prestation à modifier
                var divId = $(this).closest('div').attr('id');
                console.log('divId', divId);
            
                // Initialise la variable serviceId
                serviceId = divId.replace('edit-form-', '');
                console.log('serviceId', serviceId);
            
                // Si la variable serviceId est toujours undefined, c'est que le bouton n'a pas été cliqué sur un élément tr
                if (serviceId === undefined) {
                    // Affiche un message d'erreur
                    alert('Vous devez cliquer sur un élément div pour modifier une prestation');
            
                    // Empêche la requête AJAX de se produire
                    return false;
                }
            
                var nom = $('#edit-form-' + serviceId + ' #services_nom').val();
                var prix = $('#edit-form-' + serviceId + ' #services_prix').val();
                var duree = $('#edit-form-' + serviceId + ' #services_duree').val();


                if (!nom || !prix || !duree) {
                    alert('Vous devez remplir tous les champs');
                    return false;
                }
                // Récupère les valeurs des champs du formulaire
                var updatedService = {
                    nom: nom,
                    prix: prix,
                    duree: duree,
                };
            
                // Effectue la requête AJAX
                $.ajax({
                    url: 'prestations/edit/' + serviceId,
                    method: 'POST',
                    data: JSON.stringify(updatedService),
                    contentType: 'application/json',
                    success: function(data) {
                        // Les modifications ont été enregistrées avec succès
                        if($(".alertConf").length > 0){
                            $(".alertConf").remove();
                        }
                        $(".arrayServices").prepend("<span class='alertConf'>Modifications effectuées avec succès.</span>");
                    },
                    error: function() {
                        // Une erreur s'est produite lors de l'enregistrement des modifications
                    }
                });
            });
            
            
         $('.cancel-button').on('click', function(event) {
            event.preventDefault();
            var FrameId = '#edit-form-' + serviceId;
            $(FrameId).css('visibility', 'hidden');
        });
    </script>
{% endblock %}