{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">
{% endblock %}
{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    <div class="tableauRdv">
    <h1>Mes rendez-vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCreationRdv</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Status</th>
                <th>DateDeModifRdv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.dateCreationRdv ? appointment.dateCreationRdv|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.debut ? appointment.debut|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ appointment.fin ? appointment.fin|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.dateDeModifRdv ? appointment.dateDeModifRdv|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_appointment_my_appointments', {'id': appointment.id}) }}">voir le rendez-vous</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">modifier le rendez-vous</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun rendez-vous de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Nouveau rendez-vous</a>
    </div>
{% endblock %}