{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">
{% endblock %}
{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    <div class="tableauRdv">
    <h1>Mes rendez-vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la prestation</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.serviceId.nom }}</td>
                <td>{{ appointment.debut|date('d-m-Y H:i') }}</td>
                <td>{{ appointment.fin|date('d-m-Y H:i') }}</td>
                <td>{{ appointment.status}}</td>
                <td>
                    <a href="{{ path('app_appointment_my_appointments', {'id': appointment.id}) }}">voir le rendez-vous</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">modifier le rendez-vous</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun rendez-vous de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Nouveau rendez-vous</a>
    </div>
{% endblock %}