<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Parenthèse-Enveloppée{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{asset('img/PE.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }} 
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        {% block header %} 
            <header class="mainHeader">
                <nav class="navHeader">
                    <div id="menu">
                        <ul>
                            <li><a href="{{path('main_presentation')}}" title="présentation">Présentation</a></li>
                            <li><a {#href="{{path('')}}"#} title="prestations">Prestations</a></li>
                            <li id="reserver"><a href="{{path('app_calendar')}}" title="réserver">Réserver</a></li>
                            <h1 class="logo-header">
                                <a href="{{ path('main_accueil') }}"><img class="logo" src="{{ asset('img/parenthese-enveloppee-accompagnement-parental.jpg') }}" alt="logo parenthese-enveloppee"></a>
                            </h1>
                            <li><a {#href="{{path('')}}"#} title="offrirPrestation">Offrir prestation</a></li>
                            <li><a {#href="{{path('')}}"#} title="contact">Contact</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="dropdown">
                                    <button class="dropdown-button">{{ app.user.prenom }}</button>
                                    <div class="dropdown-content">
                                        <a href="{{ path('profile_edit') }}">Modifier</a>
                                        <a href="{{ path('app_appointment_index') }}">Mes rendez-vous</a>
                                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="dropdown">
                                    <button class="dropdown-button">Se connecter</button>
                                    <div class="dropdown-content">
                                        <a href="{{path('app_login')}}" title="Connexion">Se connecter</a>
                                        <a href="{{path('app_register')}}" title="Enregistrer">S'enregistrer</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN")%}
                                <li><a href="{{path('admin_dashboard')}}" title="admin">Admin</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block footer %} 
            <footer>
                <p>© 2023 - Parenthèse Enveloppée - Tous droits réservés</p>
            </footer>
        {% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('javascript/dropdown.js') }}"></script>
    {% endblock %}
</body>
</html>
