<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Parenthèse-Enveloppée{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }} 
    {% endblock %}
</head>
<body>
    <h1>
        <a href="{{ path('main_accueil') }}"><img class="logo-header" src="{{ asset('img/parenthese-enveloppee-accompagnement-parental.jpg') }}" alt="logo parenthese-enveloppee"></a>
    </h1>
    {% block header %} 
    <header class="mainHeader">
        <nav class="navHeader">
            <div id="menu">
                    <ul>
                        <li><a href="{{path('main_presentation')}}" title="présentation">Présentation</a></li>
                        <li><a {#href="{{path('')}}"#}title="prestations">Prestations</a></li>
                        <li><a {#href="{{path('')}}"#} title="réserver">Réserver</a></li>
                        <li><a {#href="{{path('')}}"#} title="offrirPrestation">Offrir prestation</a></li>
                        <li><a {#href="{{path('')}}"#} title="contact">Contact</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.prenom }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('profile_edit') }}">Modifier mon profil</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('logout') }}">Se déconnecter</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{path('main_registrationForm')}}" title="Registration">Connexion</a>
                            </li>
                        {% endif %}

                    </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block body %}
    <main>
    </main>
    {% endblock %}
    {% block footer %} 
    <footer>
        <p>© 2023 - Parenthèse Enveloppée - Tous droits réservés</p>
    </footer>
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>